DBscript.py
esimzippi.zip
global.csv
HtOs.py
komennot.txt
logi.txt
munzippi.zip
mytext.txt
mytext2.txt
packet.zip
sample.xlsx
samplecsv.csv
sampledata.xlsx
SL-090119-22970-03.eps
teksti2.txt
testi.txt
